
<div class="col-12">
  <h5>Registro Diario</h5>
  <div class="card">
    <form class="p-fluid p-formgrid grid">
      <div class="field col-12 md:col-6">
        <label htmlFor="descricao">Nome Refeição *</label>
        <input pInputText id="descricao" type="text"  maxlength="150" />
      </div>
      <div class="field col-12 md:col-6">
        <label htmlFor="cal">Data *</label>
        <p-calendar [showIcon]="true" inputId="data_termino" formControlName="data_termino"
        dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="field col-12 md:col-6">
        <label htmlFor="gordura">Selecione o Alimento *</label>
        <p-inputNumber id="gordura"  mode="decimal" locale="pt-BR" [minFractionDigits]="1" />

      </div>
     
      <div class="field col-12 md:col-6">
        <label htmlFor="prot">  Quantidade *</label>
        <p-inputNumber id="prot"  mode="decimal" locale="pt-BR" [minFractionDigits]="1" />
      </div>
    </form>
  </div>
</div>

