<div class="col-12">
  <div class="card">


    <p-card header="Registro Diário">
    </p-card>

    <form class="p-fluid p-formgrid grid" [formGroup]="formRegister">
      <div class="field col-12 md:col-8">
        <label htmlFor="descricao">Nome Refeição *</label>
        <input pInputText id="descricao" type="text" maxlength="150" formControlName="descricao"/>
      </div>
      <div class="field col-12 md:col-4">
        <label htmlFor="cal">Data *</label>
        <p-calendar [showIcon]="true" inputId="data_termino" formControlName="data"
          dateFormat="dd/mm/yy"></p-calendar>
      </div>
      <div class="field col-12 md:col-8">

        <label htmlFor="gordura">Selecione o Alimento *</label>
    <!--     <p-autoComplete [virtualScroll]="true" [suggestions]="filteredItems"
          [virtualScrollItemSize]="34" (completeMethod)="filterItems($event)" field="label" [dropdown]="true" /> -->
          <p-dropdown id="id_empresa" [options]="listFood" optionLabel="descricao" optionValue="id" formControlName="id_alimento" placeholder="Selecione o alimento"></p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label htmlFor="prot"> Porção *</label>
        <p-inputNumber id="prot" mode="decimal" locale="pt-BR" [minFractionDigits]="1" formControlName="qtd"/>
      </div>
    </form>
  </div>
</div>