<div class="p-grid" style="margin-top: 1%;">
    <div class="p-col-12">
        <div class="card">
            <p-card header="Estatística de Alimentação">
                <!-- Conteúdo do card aqui -->
            </p-card>

            <div class="p-grid p-align-center">
                <div class="p-col-12 p-md-6">
                    <div class="card p-mb-2" *ngIf="showAlimentoChart">
                        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="card p-mb-2" *ngIf="showRefeicaoChart">
                        <p-chart type="line" [data]="data" [options]="options"></p-chart>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<p-confirmDialog></p-confirmDialog>

<p-dialog header="Exportação Relatório PDF" [modal]="true" [(visible)]="registerService.modalExportPdf"
    [position]="position" [style]="{ width: '35rem' }">
    <div class="card flex justify-content-between align-items-center" style="padding: 1rem;">
        <p style="margin: 0; text-align: center;" class="col-4">Exportação todos registros</p>
        <span class="col-3" style=" display: flex; justify-content: center; margin: 0;">
            <p-inputSwitch [(ngModel)]="exportAllRecords" />
        </span>
        <p style="margin: 0; text-align: center;" class="col-4">Exportação por periodo</p>
    </div>
    <div *ngIf="exportAllRecords" class="card flex justify-content-center">
        <div style="display: flex; justify-content: space-between; width: 100%;">
            <p>
                <label for="startDate">Data de Início:</label>
                <p-calendar [(ngModel)]="startDate" placeholder="dd/mm/aa" appendTo="body" [showIcon]="true"
                    inputId="startDate" dateFormat="dd/mm/yy"></p-calendar>
            </p>
            <p style="margin-left: 2rem;">
                <label for="endDate">Data de Término:</label>
                <p-calendar [(ngModel)]="endDate" placeholder="dd/mm/aa" appendTo="body" [showIcon]="true"
                    inputId="endDate" dateFormat="dd/mm/yy"></p-calendar>
            </p>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="registerService.modalExportPdf = false" />
        <p-button label="Confirmar" (click)="exportPDF()" />
    </div>
</p-dialog>


<p-dialog header="Exportação Relatório Excel" [modal]="true" [(visible)]="registerService.modalExportExcel"
    [position]="position" [style]="{ width: '35rem' }" closable="false">
    <div class="card flex justify-content-between align-items-center" style="padding: 1rem;">
        <p style="margin: 0; text-align: center;" class="col-4">Exportação todos registros</p>
        <span class="col-3" style=" display: flex; justify-content: center; margin: 0;">
            <p-inputSwitch [(ngModel)]="exportAllRecords" />
        </span>
        <p style="margin: 0; text-align: center;" class="col-4">Exportação por período</p>
    </div>
    <div *ngIf="exportAllRecords" class="card flex justify-content-center">
        <div style="display: flex; justify-content: space-between; width: 100%;">
            <p>
                <label for="startDate">Data de Início:</label>
                <p-calendar [(ngModel)]="startDate" placeholder="dd/mm/aa" appendTo="body" [showIcon]="true"
                    inputId="startDate" dateFormat="dd/mm/yy"></p-calendar>
            </p>
            <p style="margin-left: 2rem;">
                <label for="endDate">Data de Término:</label>
                <p-calendar [(ngModel)]="endDate" placeholder="dd/mm/aa" appendTo="body" [showIcon]="true"
                    inputId="endDate" dateFormat="dd/mm/yy"></p-calendar>
            </p>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="registerService.modalExportExcel = false" />
        <p-button label="Confirmar" (click)="exportExcel()" />
    </div>
</p-dialog>


<p-dialog closable="false" header="Opções de Gráficos" [modal]="true" [(visible)]="registerService.modalOptions" [position]="position"
    [style]="{ width: '35rem' }">

    <span class="p-text-secondary block mb-5">
        Tipo de gráficos:
    </span>
    <div class="flex align-items-center gap-3 mb-5">


        <div class="field-radiobutton">
            <p-radioButton name="menuMode" value="static" inputId="mode1" [(ngModel)]="selectedOption"></p-radioButton>
            <label for="mode1">Alimento</label>
        </div>
        <div class="field-radiobutton">
            <p-radioButton name="menuMode" value="overlay" inputId="mode2" [(ngModel)]="selectedOption"></p-radioButton>
            <label for="mode2">Refeição</label>
        </div>
    </div>

    <form [formGroup]="filtroForm">
        <span class="p-text-secondary block mb-5">
            Filtrar o gráfico por data
        </span>
        <div class="flex align-items-center gap-3 mb-5">
            <div class="field col-6">
                <label for="data" class="font-semibold w-6rem">
                    Data inicio:
                </label>
                <br>
                <p-calendar formControlName="data" placeholder="dd/mm/aa" appendTo="body" [showIcon]="true"
                    inputId="data_termino"  dateFormat="dd/mm/yy"></p-calendar>
            </div>

            <div class="field col-6">
                <label for="data" class="font-semibold w-6rem">
                    Data Fim:
                </label>
                <br>
                <p-calendar placeholder="dd/mm/aa" formControlName="dataFim" appendTo="body" [showIcon]="true"
                    inputId="data_termino" dateFormat="dd/mm/yy"></p-calendar>
            </div>
        </div>
    </form>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="cancelarOptions()" />
        <p-button label="Confirmar" (click)="confirmarOptions()" />
    </div>

</p-dialog>
