<div class="h-screen flex w-full surface-ground">
    <div class="flex flex-1 flex-column surface-ground align-items-center justify-content-center">
        <div class="w-11 sm:w-30rem">
            <div class="flex flex-column">
                <div style="height: 56px; width: 56px"
                    class="bg-primary-50 border-circle flex align-items-center justify-content-center">
                    <i class="pi pi-lock text-primary text-4xl"></i>
                </div>
                <div class="mt-4">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        Recuperar senha
                    </h1>
                    <span class="block text-700 mt-2">
                        Digite email para recuperação de senha
                    </span>
                </div>
            </div>
            <div class="flex flex-column gap-3 mt-6">
                <span class="block textSucess mt-1"  *ngIf="messageSucess">
                    {{messageSucess}}
                </span>
                <span class="block textError mt-1"  *ngIf="messageError">
                    {{messageError}}
                </span>

                <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-envelope" *ngIf="!loading"></i>
                        <i class="pi pi-spin pi-spinner" *ngIf="loading"></i>
                    </p-inputGroupAddon>
                    <input type="email" pInputText  placeholder="EMAIL" />

                </p-inputGroup>

                <p-inputGroup>
                    <button pButton pRipple class="w-full" label="ENVIAR EMAIL" (click)="enviarEmail()" [disabled]="email.invalid || loading"></button>
                </p-inputGroup>
                <p-inputGroup>
                    <button pButton pRipple class="w-full p-button-text text-primary-500" label="VOLTAR PARA LOGIN"
                        [routerLink]="'/auth/login'"></button>
                </p-inputGroup>
            </div>
        </div>
    </div>
    <div [style.background]="
            'url(assets/layout/images/pages/accessDenied-bg.jpg)'
        " class="hidden lg:flex flex-1 align-items-center justify-content-center bg-cover">
         <img src="../../../../assets/layout/images/OficialLogo1.png" alt="" style="width: 650px; height: auto;" />
    </div>
</div>

<app-config [minimal]="true"></app-config>
