<div class=" col-12 " style="margin-top: 1%;">
    <div class="container ">
        <ng-container *ngIf="goal.length > 0 ; else emptyState">
            <p-card *ngFor="let goal of goal" (click)="navigateToCompanyEdit(goal.id)" header="{{'Meta Diária'}}"
                class="diet-card card">
                <ng-template pTemplate="header">
                    <div class="card-image-container"
                        style="background-image: url('../../../../assets/layout/images/img01.png');">
                        <div class="overlay"></div>
                    </div>
                </ng-template>
                <ng-template pTemplate="subtitle">
    
                    <p><strong>Data:</strong> {{selectedDate | date: 'dd/MM/yyyy'}}</p>
                </ng-template>
    
                <p><strong>Calorias Consumidas:</strong></p>
                <div style="position: relative;">
    
                    <p-progressBar [value]="(getTotalCalories() * 100) / goal.meta_calorias "
                        [color]="getTotalCalories() > goal.meta_calorias ? 'red' : null">
                        <ng-template pTemplate="content" let-value>
                        </ng-template>
                    </p-progressBar>
                    <span
                        style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%);">{{getTotalCalories()}}
                        / {{goal.meta_calorias}}</span>
                </div>
                <br>
                <p><strong>Proteínas Consumidas:</strong></p>
                <div style="position: relative;">
                    <p-progressBar [value]="(getTotalProteins() * 100) / goal.meta_proteinas"
                        [color]="getTotalProteins() > goal.meta_proteinas ? 'red' : null">
                        <ng-template pTemplate="content" let-value>
    
                        </ng-template>
                    </p-progressBar>
                    <span
                        style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%);">{{getTotalProteins()}}
                        / {{goal.meta_proteinas}}</span>
    
                </div>
    
                <br>
                <p><strong>Carboidratos Consumidos:</strong></p>
                <div style="position: relative;">
                    <p-progressBar [value]="(getTotalCarbo() * 100) / goal.meta_carboidratos"
                        [color]="getTotalCarbo() > goal.meta_carboidratos ? 'red' : null">
                        <ng-template pTemplate="content" let-value>
    
                        </ng-template>
                    </p-progressBar>
                    <span
                        style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%);">{{getTotalCarbo()}}
                        / {{goal.meta_carboidratos}}</span>
                </div>
    
    
                <br>
                <p><strong>Gorduras Consumidas:</strong></p>
                <div style="position: relative;">
                    <p-progressBar [value]="(getTotalFats() * 100) / goal.meta_gorduras"
                        [color]="getTotalFats() > goal.meta_gorduras ? 'red' : null" styleClass="custom-progressbar">
                        <ng-template pTemplate="content" let-value>
                        </ng-template>
                    </p-progressBar>
                    <span
                        style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%);">{{getTotalFats()}}
                        / {{goal.meta_gorduras}}</span>
                </div>
            </p-card>
        </ng-container>
        <ng-template #emptyState>
         
         
                <p-card  class="card" style="width: 225%;">
                    <div>
                        <p style="text-align: center;">Nenhuma Meta Cadastrada</p>
                    </div>
                </p-card>

            
        </ng-template>
    </div>

</div>




<style>
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .diet-card {
        margin: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        max-width: 600px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        cursor: pointer;
    }

    .diet-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-size: cover;
        background-position: center;
        height: 200px;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .sorting-dropdown {
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
    }


    .sorting-dropdown {
        margin-bottom: 1rem;
        display: flex;
        justify-content: flex-end;
    }
</style>


<p-dialog header="Filtragem da meta" [modal]="true" [(visible)]="goalService.openModalFilter" [position]="position"
    [style]="{ width: '35rem' }">

    <span class="p-text-secondary block mb-5">
        Tipo de gráficos:
    </span>

    <span class="p-text-secondary block mb-5">
        Filtrar o gráfico por data
    </span>
    <div class="flex align-items-center gap-3 mb-5">
        <div class="field col-6">
            <label for="data" class="font-semibold w-6rem">
                Data:
            </label>
            <br>
            <p-calendar placeholder="dd/mm/aa" appendTo="body" [showIcon]="true" inputId="data_termino"
                dateFormat="dd/mm/yy" [(ngModel)]="selectedFilterDate"></p-calendar>
        </div>
    </div>

    <div class="flex justify-content-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="closeModal()" />
        <p-button label="Confirmar" (click)="applyFilter()" />
    </div>

</p-dialog>