<div class="grid" style="margin-top: 1%;">
    <ng-container *ngFor="let diet of diet">
        <p-card header="{{diet.descricao}}" subheader="{{ diet.refeicao.descricao }}" (click)="navigateToCompanyEdit(diet.id)" class="diet-card">
            <ng-template pTemplate="header">
                <div *ngIf="diet.refeicao.descricao == 'aa'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/img01.png');">
                    <div class="overlay"></div>
                </div>
                <div *ngIf="diet.refeicao.descricao == 'Jantar'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/jantar.jpg');">
                    <div class="overlay"></div>
                </div>
                <div *ngIf="diet.refeicao.descricao == 'Café da manhã'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/cafeManha.jpg');">
                    <div class="overlay"></div>
                </div>
                <div *ngIf="diet.refeicao.descricao == 'Lanche da tarde'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/lanche-da-tarde.jpg');">
                    <div class="overlay"></div>
                </div>
                <div *ngIf="diet.refeicao.descricao == 'Ceia'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/ceia.jpg');">
                    <div class="overlay"></div>
                </div>
                <div *ngIf="diet.refeicao.descricao == 'Almoço'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/almoco.jpeg');">
                    <div class="overlay"></div>
                </div>
            </ng-template>
            <div class="card-content">
                <p><strong>Alimentos:</strong></p>
                <div class="alimentos-list">
                    <ng-container *ngFor="let alimento of diet.alimentos">
                        {{ alimento.descricao }}<br>
                    </ng-container>
                </div>
                <p><strong>Porção:</strong> {{ diet.totalQtd }} (g)</p>
                <p><strong>Carboidrato:</strong> {{ diet.total_carbo }}</p>
                <p><strong>Gordura:</strong> {{ diet.total_gordura }}</p>
                <p><strong>Proteina:</strong> {{ diet.total_proteina }}</p>
                <p><strong>Calorias:</strong> {{ diet.total_caloria }} (kcal)</p>
            </div>
        </p-card>
    </ng-container>
</div>

<style>
    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .diet-card {
        margin: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        height: auto;
        cursor: pointer;
    }

    .diet-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-size: cover;
        background-position: center;
        height: 200px;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .diet-card .card-content {
        padding: 1rem;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .diet-card .card-content p {
        margin: 0.2rem 0; 
    }

    .diet-card .alimentos-list {
        max-height: 150px;
        overflow-y: auto;
        margin-bottom: 0.5rem; 
    }

    .diet-card .p-card-footer {
        padding: 1rem;
        text-align: center;
    }

    .p-button-rounded.p-button-outlined {
        border-color: #6a11cb;
        color: #6a11cb;
    }

    .p-button-rounded.p-button-outlined:hover {
        background: #6a11cb;
        color: white;
    }
</style>
