<div class="layout-topbar">
     <a class="layout-topbar-logo" routerLink="/alimentos">
        <img src="../../assets/layout/images/Layer2.png" alt="FattoOS logo" style="width: 30%; height: auto;">
       
    </a> 

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
       
       
    
        <li>
            <a class="cursor-pointer flex align-items-center py-2 hover:surface-hover transition-duration-150 transition-all px-3 py-2" pRipple (click)="onLogout()">
                <i class="pi pi-power-off mr-2"></i>
                <span>Sair</span>
            </a>
        </li>
    </div>
</div> 