<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="../../assets/layout/images/Layer2.png" alt="FattoOS logo" style="width: 30%; height: auto;">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" 
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div style="display: flex; justify-content: space-between; align-items: center; width: 70%;">


            <p-menu #menu [popup]="true" [model]="menuItems" ></p-menu>


            <a *ngIf="!isMobile()" (click)="menu.toggle($event)">
                <img [src]="formProfile.get('avatar')?.value" alt="avatar" class="avatar-img">
            </a>
            <img *ngIf="isMobile()"  [src]="formProfile.get('avatar')?.value" alt="avatar" class="avatar-img">
            <span *ngIf="isMobile()" style="align-items: center;">
                <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-text"
                    (click)="navigateToProfile()"></button>
                <button pButton type="button" icon="pi pi-power-off" class="p-button-rounded p-button-text"
                    (click)="onLogout()"></button>
            </span>

        </div>
    </div>
</div>


<style>
    .avatar-img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }

    

</style>