<div class="grid" style="margin-top: 1%;">
	<div class="col-12">
		<div class="card" style="height: calc(100vh - 152px)">
			<p-table #dt1 [value]="register" dataKey="id" [rowHover]="true" styleClass="p-datatable-gridlines"
				[paginator]="false" [globalFilterFields]="['descricao']" [scrollable]="true" scrollHeight="flex"
				[resizableColumns]="true">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between align-items-end flex-column sm:flex-row">
						<div>
							<button pButton label="Limpar" class="p-button-outlined" icon="pi pi-filter-slash"
								(click)="clear(dt1)"></button>
							<span class="p-input-icon-left ml-1">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
									placeholder="Pesquisar palavra-chave" class="w-full" />
							</span>
						</div>
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Descrição
								<p-columnFilter type="text" field="descricao" display="menu"
									placeholder="Pesquisar por Descrição"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Data
								<p-columnFilter type="text" field="Data" display="menu"
									placeholder="Pesquisar por Data"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Alimento
								<p-columnFilter type="text" field="Alimento" display="menu"
									placeholder="Pesquisar por Alimento"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Porção (g)
								<p-columnFilter type="text" field="porcao" display="menu"
									placeholder="Pesquisar por Porção"></p-columnFilter>
							</div>
						</th>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Total Caloria (kcal)
								<p-columnFilter type="text" field="Caloria" display="menu"
									placeholder="Pesquisar por Caloria"></p-columnFilter>
							</div>
						</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-register>
					<tr class="cursor-pointer" (click)="navigateToCompanyEdit(register.id)">
						<!-- <td class="text-center">{{food.id}}</td> -->
						<td>{{register.descricao}}</td>
						<td>{{register.data | date: 'dd/MM/yyyy'}}</td>
						<td>{{register.descricao_alimento}}</td>
						<td>{{register.qtd}}</td>
						<td>{{register.alimento.caloria}}</td>



					</tr>

				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">Nenhuma Registros encontrado.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Carregando Registros. Aguarde.</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>