<div class="grid" style="margin-top: 1%;">
    <p-card *ngFor="let register of register" (click)="navigateToCompanyEdit(register.id)"
            header="{{register.descricao_refeicao}}" class="diet-card">
        <ng-template pTemplate="header">
            <div *ngIf="register.descricao_refeicao == 'Default'" class="card-image-container"
                 style="background-image: url('../../../../assets/layout/images/img01.png');">
                <div class="overlay"></div>
            </div>
            <div *ngIf="register.descricao_refeicao == 'Jantar'" class="card-image-container"
                 style="background-image: url('../../../../assets/layout/images/jantar.jpg');">
                <div class="overlay"></div>
            </div>
            <div *ngIf="register.descricao_refeicao == 'Café da manhã'" class="card-image-container"
                 style="background-image: url('../../../../assets/layout/images/cafeManha.jpg');">
                <div class="overlay"></div>
            </div>
            <div *ngIf="register.descricao_refeicao == 'Lanche da tarde'" class="card-image-container" style="background-image: url('../../../../assets/layout/images/lanche-da-tarde.jpg');">
				<div class="overlay"></div>
			</div>
            <div *ngIf="register.descricao_refeicao == 'Ceia'" class="card-image-container"
                 style="background-image: url('../../../../assets/layout/images/ceia.jpg');">
                <div class="overlay"></div>
            </div>
            <div *ngIf="register.descricao_refeicao == 'Almoço'" class="card-image-container"
                 style="background-image: url('../../../../assets/layout/images/almoco.jpeg');">
                <div class="overlay"></div>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="alimentos-list">
                <div *ngFor="let alimento of register.alimentos">
                    <br>{{ alimento.descricao }}
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="subtitle">
            <p><strong>Data:</strong> {{register.data | date: 'dd/MM/yyyy'}}</p>
            <p><strong>Porção:</strong> {{register.nutrientes_totais.qtd}} (g)</p>
            <p><strong>Calorias:</strong> {{register.nutrientes_totais.caloria}} (Kcal)</p>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1"></div>
        </ng-template>
    </p-card>
</div>

<style>
    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    .diet-card {
        margin: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
		max-width: 300px;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        cursor: pointer;
    }

    .diet-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .card-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-size: cover;
        background-position: center;
        height: 200px;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .diet-card .alimentos-list {
        height: calc(150px - 50px);
        overflow-y: auto;
    }
</style>