<div class="col-12">
  <div class="card">
    <form class="p-fluid p-formgrid grid" [formGroup]="formProfile">
      <div class="col-12 md:col-4">
        <img [src]="getUserAvatar()" alt="Avatar" class="col" style="width: 100%; aspect-ratio: 1/1; object-fit: cover; border-radius: 50%;" >
        <div class="flex justify-content-center items-center gap-2 mt-2">
          <p-fileUpload mode="basic" name="avatar" accept="image/*" [maxFileSize]="1000000" [url]="getUrlToUpload()" [auto]="true" chooseLabel="Carregar foto" method="post" (onUpload)="authService.getLoggedUserWithToken().subscribe()"></p-fileUpload>
          <button class="w-auto" pButton pRipple label="Excluir foto" icon="pi pi-trash" (click)="confirmDeleteUserProfilePic()" [disabled]="!formProfile.get('avatar')?.value"></button>
          
        </div>
      </div>
      <div class="col-12 md:col-8">
        <div class="p-fluid grid">
          <div class="field col-12 md:col-6">
            <label for="data_nascimento">Data de nascimento</label>
            <p-calendar [showIcon]="true" inputId="data_nascimento" formControlName="data_nascimento" dateFormat="dd/mm/yy"></p-calendar>
          </div>
          <div class="field col-12 md:col-6">
            <label for="genero">Gênero</label>
            <p-dropdown id="genero" formControlName="genero" [options]="generoOptions"></p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label for="peso">Peso (kg)</label>
            <input pInputText id="peso" type="number" formControlName="peso" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="altura">Altura (cm)</label>
            <input pInputText id="altura" type="number" formControlName="altura" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="atividade_fisica">Nível de Atividade Física</label>
            <p-dropdown id="atividade_fisica" formControlName="nivel_atividade" [options]="atividadeFisicaOptions"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label for="atividade_fisica">Objetivo</label>
            <p-dropdown id="objetivo" formControlName="objetivo" [options]="objetivoOptions"></p-dropdown>
          </div>
        </div>
      </div>
      <div>
       
        </div>
        
      </form>
<p-accordion>
  <p-accordionTab header="Recomendações Nutricionais">
    <p-fieldset legend="Taxa Metabólica Basal (TMB)"
      [style]="{'border-color': '#4CAF50', 'border-width': '2px', 'border-style': 'solid'}">
      <div class="p-d-flex p-ai-center justify-content-between">
        <span>{{ tmb | number:'1.2-2' }} kcal/dia</span>
        <button pButton type="button" icon="pi pi-question-circle" class="p-button-text"
          (click)="showHelp('TMB')"></button>
      </div>
    </p-fieldset>
    <p-fieldset legend="Gasto Energético Total (GET)"
      [style]="{'border-color': '#2196F3', 'border-width': '2px', 'border-style': 'solid'}">
      <div class="p-d-flex p-ai-center justify-content-between">
        <span>{{ get | number:'1.2-2' }} kcal/dia</span>
        <button pButton type="button" icon="pi pi-question-circle" class="p-button-text"
          (click)="showHelp('GET')"></button>
      </div>
    </p-fieldset>
    <p-fieldset legend="Proteínas Recomendadas"
      [style]="{'border-color': '#FFC107', 'border-width': '2px', 'border-style': 'solid'}">
      <div class="p-d-flex p-ai-center justify-content-between">
        <span>{{ proteinasRecomendadas() | number:'1.2-2' }} g/dia</span>
      </div>
    </p-fieldset>
    <p-fieldset legend="Gorduras Recomendadas"
      [style]="{'border-color': '#F44336', 'border-width': '2px', 'border-style': 'solid'}">
      <div class="p-d-flex p-ai-center justify-content-between">
        <span>{{ gordurasRecomendadas() | number:'1.2-2' }} g/dia</span>
      </div>
    </p-fieldset>
    <p-fieldset legend="Carboidratos Recomendados"
      [style]="{'border-color': '#9C27B0', 'border-width': '2px', 'border-style': 'solid'}">
      <div class="p-d-flex p-ai-center justify-content-between">
        <span>{{ carboidratosRecomendados() | number:'1.2-2' }} g/dia</span>
      </div>
    </p-fieldset>
  </p-accordionTab>
</p-accordion>






</div>
</div>

<p-dialog [(visible)]="profileService.showModalChangePassword" (onHide)="formUserPassword.reset()" [style]="{width: '450px'}" header="Alteração de senha" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="formUserPassword">
      <div class="field">
        <label htmlFor="password">Nova senha</label>
        <p-password id="password" placeholder="Senha" [toggleMask]="true" [feedback]="true" promptLabel="Digite uma senha" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte" formControlName="password"></p-password>
      </div>
      <div class="field">
        <label htmlFor="password_confirmation">Confirmação de nova senha</label>
        <p-password id="password_confirmation" placeholder="Confirme a senha" [toggleMask]="true" [feedback]="false" formControlName="password_confirmation"></p-password>
      </div>
    </form>
  </ng-template>
  
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="profileService.toggleModalChangePassword()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-save" class="p-button-success" (click)="saveUserPassword()" [disabled]="!formUserPassword.valid"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Ajuda" [(visible)]="displayHelpDialog" [modal]="true" [closable]="true" [responsive]="true"
  styleClass="help-dialog">
  <p>{{ helpText }}</p>
</p-dialog>
<p-confirmDialog></p-confirmDialog>
