<div class="col-12">
  <div class="card">
    <form class="p-fluid p-formgrid grid" [formGroup]="formProfile">
<div class="col-12 md:col-4">
  <div *ngIf="formProfile" class="card" >
    <form (ngSubmit)="onSubmit()" [formGroup]="formProfile">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      <div style="display: flex; justify-content: center; margin-top: 5%;"  >
        <img *ngIf="formProfile.get('avatar')?.value" [src]="formProfile.get('avatar')?.value" alt="Avatar"
          class="avatar-img" style="align-items: center; max-width: 100%;">
            <img *ngIf="!formProfile.get('avatar')?.value" src="assets/default-profile.png" alt="Avatar" class="avatar-img"
              style="align-items: center; max-width: 100%;">
      </div>
      <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </form>
  </div>
</div>

<ng-template #headerTemplate >
  <ng-container *ngTemplateOutlet="headerContent"></ng-container>
</ng-template>
<ng-template #headerContent>
  <p-panel header="{{ formProfile.get('name')?.value }}">
    <input pInputText type="email" [value]="formProfile.get('email')?.value" disabled>
  </p-panel>
</ng-template>



<ng-template #footerTemplate>
  <div style="display: flex; justify-content: center; margin-top: 10%;">
    <p-button [outlined]="true" *ngIf="!uploadMode" (click)="fileInput.click()" icon="pi pi-image"
      label="Carregar" class="mr-2"></p-button>
    <input #fileInput style="display: none" type="file" (change)="onFileSelected($event)" accept="image/*" required>
    <p-button *ngIf="uploadMode" label="Upload" [outlined]="true" severity="contrast" icon="pi pi-upload" type="submit"
      class="mr-2"></p-button>
    <p-button *ngIf="formProfile.get('avatar')?.value" label="Excluir" [outlined]="false" severity="danger" icon="pi pi-trash"
      (click)="confirmDeleteUserProfilePic()" class="mr-2"></p-button>
  </div>
</ng-template>




      <div class="col-12 md:col-8">
        <div class="p-fluid grid">
          <div class="field col-12 md:col-6">
            <label for="data_nascimento">Data de nascimento</label>
            <p-calendar [showIcon]="true" inputId="data_nascimento" formControlName="data_nascimento" dateFormat="dd/mm/yy"></p-calendar>
          </div>
          <div class="field col-12 md:col-6">
            <label for="genero">Gênero</label>
            <p-dropdown id="genero" formControlName="genero" [options]="generoOptions"></p-dropdown>
          </div>
          <div class="field col-12 md:col-6">
            <label for="peso">Peso (kg)</label>
            <input pInputText id="peso" type="number" formControlName="peso" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="altura">Altura (cm)</label>
            <input pInputText id="altura" type="number" formControlName="altura" />
          </div>
          <div class="field col-12 md:col-6">
            <label for="atividade_fisica">Nível de Atividade Física</label>
            <p-dropdown id="atividade_fisica" formControlName="nivel_atividade" [options]="atividadeFisicaOptions"></p-dropdown>
          </div>

          <div class="field col-12 md:col-6">
            <label for="atividade_fisica">Objetivo</label>
            <p-dropdown id="objetivo" formControlName="objetivo" [options]="objetivoOptions"></p-dropdown>
          </div>
        </div>
      </div>
      <div>
       
        </div>
        
      </form>
      <div *ngIf="nutrition.length  > 0">

          <p-accordion  *ngFor="let item of nutrition">
            <p-accordionTab header="Recomendações Nutricionais">
              <p-fieldset legend="Taxa Metabólica Basal (TMB)"
                [style]="{'border-color': '#4CAF50', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.tmb }} kcal/dia</span>
                  <button pButton type="button" icon="pi pi-question-circle" class="p-button-text"
                    (click)="showHelp('TMB')"></button>
                </div>
              </p-fieldset>
              <p-fieldset legend="Gasto Energético Total (GET)"
                [style]="{'border-color': '#2196F3', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.get }} kcal/dia</span>
                  <button pButton type="button" icon="pi pi-question-circle" class="p-button-text"
                    (click)="showHelp('GET')"></button>
                </div>
              </p-fieldset>
              <p-fieldset legend="Calorias Recomendadas"
                [style]="{'border-color': '#8BC34A', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.caloria }} kcal/dia</span>
                </div>
              </p-fieldset>
              <p-fieldset legend="Proteínas Recomendadas"
                [style]="{'border-color': '#FFC107', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.proteina }} g/dia</span>
                </div>
              </p-fieldset>
              <p-fieldset legend="Gorduras Recomendadas"
                [style]="{'border-color': '#F44336', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.gordura }} g/dia</span>
                </div>
              </p-fieldset>
              <p-fieldset legend="Carboidratos Recomendados"
                [style]="{'border-color': '#9C27B0', 'border-width': '2px', 'border-style': 'solid'}">
                <div class="p-d-flex p-ai-center justify-content-between">
                  <span>{{ item.carbo }} g/dia</span>
                </div>
              </p-fieldset>
            </p-accordionTab>
          </p-accordion>
        
      </div>







</div>
</div>

<p-dialog [(visible)]="profileService.showModalChangePassword" (onHide)="formUserPassword.reset()" [style]="{width: '450px'}" header="Alteração de senha" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="formUserPassword">
      <div class="field">
        <label htmlFor="password">Nova senha</label>
        <p-password id="password" placeholder="Senha" [toggleMask]="true" [feedback]="true" promptLabel="Digite uma senha" weakLabel="Fraca" mediumLabel="Média" strongLabel="Forte" formControlName="password"></p-password>
      </div>
      <div class="field">
        <label htmlFor="password_confirmation">Confirmação de nova senha</label>
        <p-password id="password_confirmation" placeholder="Confirme a senha" [toggleMask]="true" [feedback]="false" formControlName="password_confirmation"></p-password>
      </div>
    </form>
  </ng-template>
  
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined" (click)="profileService.toggleModalChangePassword()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-save" class="p-button-success" (click)="saveUserPassword()" [disabled]="!formUserPassword.valid"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Ajuda" [(visible)]="displayHelpDialog" [modal]="true" [closable]="true" [responsive]="true"
  styleClass="help-dialog">
  <p>{{ helpText }}</p>
</p-dialog>
<p-confirmDialog></p-confirmDialog>

<style>
  .avatar-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}



.profile-actions {
    display: flex;
    justify-content: space-between;
}


#avatar-upload {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

</style>