<div class="h-screen flex w-full surface-ground">
    <div class="flex flex-1 flex-column surface-ground align-items-center justify-content-center">
        <div class="w-11 sm:w-30rem">
            <div class="flex flex-column">
                <div style="height: 56px; width: 56px"
                    class="bg-primary-50 border-circle flex align-items-center justify-content-center">
                    <i class="pi pi-key text-primary text-4xl"></i>
                </div>
                <div class="mt-4" *ngIf="!messageError && !messageSucess">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        Escolha uma nova senha!
                    </h1>
                    <span class="block text-700 mt-2">Preencha uma nova senha de acesso ao FattoOS</span>
                </div>
                <div class="mt-4" *ngIf="messageSucess">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        {{messageSucess}}
                    </h1>
                </div>
                <div class="mt-4" *ngIf="messageError">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        {{messageError}}
                    </h1>
                </div>
            </div>

            <form class="flex flex-column gap-3 mt-6" [formGroup]="formResetPassword">
                <p-inputGroup *ngIf="!forcedClickLogin">
                    <p-inputGroupAddon>
                        <i class="pi pi-lock"></i>
                    </p-inputGroupAddon>
                    <p-floatLabel class="w-full">
                        <p-password id="password" formControlName="password" styleClass="w-full" [toggleMask]="true"
                        [feedback]="true"></p-password>
                        <label for="password">Senha</label>
                    </p-floatLabel>
                </p-inputGroup>
                <p-inputGroup *ngIf="!forcedClickLogin">
                    <p-inputGroupAddon>
                        <i class="pi pi-lock z-2"></i>
                    </p-inputGroupAddon>
                    <p-floatLabel class="w-full">
                        <p-password id="password_confirmation" formControlName="password_confirmation" styleClass="w-full" [toggleMask]="true"
                        [class.ng-invalid]="formResetPassword.errors?.['passwordMismatch']" [feedback]="false"></p-password>
                        <label for="password_confirmation">Confirmação de senha</label>
                    </p-floatLabel>
                </p-inputGroup>
                <p-inputGroup *ngIf="!forcedClickLogin">
                    <p-button label="SALVAR NOVA SENHA" class="w-full" styleClass="w-full"
                    [disabled]="formResetPassword.invalid" [loading]="loading" (click)="salvar()"></p-button>
                </p-inputGroup>
                <p-inputGroup>
                    <button pButton pRipple class="w-full" label="VOLTAR PARA LOGIN" [ngClass]="{ 'p-button-text' : !forcedClickLogin}"
                        [routerLink]="'/auth/login'"></button>
                </p-inputGroup>
            </form>
        </div>
    </div>
    <div [style.background]="
            'url(assets/layout/images/pages/accessDenied-bg.jpg)'
        " class="hidden lg:flex flex-1 align-items-center justify-content-center bg-cover">
        <img src="assets/contents/images/fattoos-logo-1-light.svg" alt="" style="width: 250px; height: auto;" />
    </div>
</div>

<app-config [minimal]="true"></app-config>
