<div class="h-screen flex w-full surface-ground">
    <div class="flex flex-1 flex-column surface-ground align-items-center justify-content-center">
        <div class="w-11 sm:w-30rem">
            <div class="flex flex-column">
                <div style="height:56px; width:56px"
                    class="bg-primary-50 border-circle flex align-items-center justify-content-center">
                    <i class="pi pi-users text-primary text-4xl"></i>
                </div>
                <div class="mt-4">
                    <h1 class="m-0 text-primary font-semibold text-4xl">
                        Altere sua senha
                    </h1>
                    <span class="block text-700 mt-2">Antes de começar, precisamos que redefina sua senha para o primeiro acesso.</span>
                </div>
            </div>
            <form class="flex flex-column gap-3 mt-6" [formGroup]="formRedefinePassword">
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
                    <p-password id="password" placeholder="Senha atual" styleClass="w-full" formControlName="current_Password"  [toggleMask]="true" [feedback]="false"></p-password>
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
                    <p-password id="password" placeholder="Nova senha" styleClass="w-full" formControlName="new_password" [toggleMask]="true" [feedback]="true"></p-password>
                </p-inputGroup>
                <p-inputGroup>
                    <p-inputGroupAddon><i class="pi pi-key"></i></p-inputGroupAddon>
                    <p-password id="password" placeholder="confirma nova senha" styleClass="w-full"
                    [class.ng-invalid]="formRedefinePassword.errors?.['passwordMismatch']" formControlName="new_password_confirmation"
                    [toggleMask]="true" [feedback]="false"></p-password>
                </p-inputGroup>
                <span class="block mt-2" style="color: red;" *ngIf="messageInvalid">{{messageInvalid}}</span>
                <div>
                    <button pButton pRipple class="w-full justify-content-center" [disabled]="formRedefinePassword.invalid" (click)="sendRedefinePassword()">
                        <i *ngIf="loading" class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
                        <label *ngIf="!loading">CONFIRMAR</label>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div [style.background]="'url(assets/layout/images/pages/accessDenied-bg.jpg)'"
        class="hidden lg:flex flex-1 align-items-center justify-content-center bg-cover">
        <img src="assets/layout/images/vector_logo.png" alt="">
    </div>
</div>

<app-config [minimal]="true"></app-config>
