<div class="grid" style="margin-top: 1%;">
	<div class="col-12">
		<div class="card" style="height: calc(100vh - 152px)">
			<p-table #dt1 [value]="food" dataKey="id" [rowHover]="true" styleClass="p-datatable-gridlines"
				[paginator]="false" [globalFilterFields]="['descricao']" [scrollable]="true" scrollHeight="flex"
				[resizableColumns]="true">
				<ng-template pTemplate="caption">
					<div class="flex justify-content-between align-items-end flex-column sm:flex-row">
						
					</div>
				</ng-template>
				<ng-template pTemplate="header">
					<tr>
						<th style="min-width: 10rem" pResizableColumn>
							<div class="flex justify-content-between align-items-center">
								Descrição
						<th>
							<p-columnFilter type="text" field="descricao" [showClearButton]="true"  class="no-filter-icon"/>
						</th>
							</div>
					</th>
		<th style="min-width: 10rem" pResizableColumn>
			<div class="flex justify-content-between align-items-center">
				Carboidrato
				<p-columnFilter type="text" field="razao" display="menu"
					placeholder="Pesquisar por razão social"></p-columnFilter>
			</div>
		</th>
		<th style="min-width: 10rem" pResizableColumn>
			<div class="flex justify-content-between align-items-center">
				Proteina
				<p-columnFilter type="text" field="razao" display="menu"
					placeholder="Pesquisar por razão social"></p-columnFilter>
			</div>
		</th>
		<th style="min-width: 10rem" pResizableColumn>
			<div class="flex justify-content-between align-items-center">
				Gordura
				<p-columnFilter type="text" field="razao" display="menu"
					placeholder="Pesquisar por razão social"></p-columnFilter>
			</div>
		</th>
		<th style="min-width: 10rem" pResizableColumn>
			<div class="flex justify-content-between align-items-center">
				Caloria (Kcal)
				<p-columnFilter type="text" field="razao" display="menu"
					placeholder="Pesquisar por razão social"></p-columnFilter>
			</div>
		</th>
		<th style="min-width: 10rem" pResizableColumn>
			<div class="flex justify-content-between align-items-center">
				Porção (g)
				<p-columnFilter type="text" field="razao" display="menu"
					placeholder="Pesquisar por razão social"></p-columnFilter>
			</div>
		</th>
		</tr>
		</ng-template>
		<ng-template pTemplate="body" let-food>
			<tr class="cursor-pointer" (click)="navigateToCompanyEdit(food.id)">
				<!-- <td class="text-center">{{food.id}}</td> -->
				<td>{{food.descricao}}</td>
				<td>{{food.carbo}}</td>
				<td>{{food.proteina}}</td>
				<td>{{food.gordura}}</td>
				<td>{{food.caloria}}</td>
				<td>{{food.qtd}}</td>



			</tr>

		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8">Nenhuma Alimentos encontrado.</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="loadingbody">
			<tr>
				<td colspan="8">Carregando Alimentos. Aguarde.</td>
			</tr>
		</ng-template>
		</p-table>
	</div>
</div>
</div>

