<div class="grid" style="margin-top: 1%;">
    <div class="col-12">
        <div class="card">
            <ng-container *ngIf="todayRegisters.length > 0; else emptyState">
                <p-table #dt1 [rowHover]="true" scrollHeight="flex" [resizableColumns]="true" dataKey="id"
                    [rowHover]="true" styleClass="p-datatable-gridlines" [value]="todayRegisters"
                    class="p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 5rem;" pResizableColumn></th>
                            <th style="width:  10rem;" pResizableColumn>Data</th>
                            <th pResizableColumn>Refeição</th>
                            <th pResizableColumn>Alimentos</th>
                            <th pResizableColumn>Calorias (Kcal)</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-register>
                        <tr>
                            <td style="text-align: center;">
                                <p-checkbox [(ngModel)]="register.checked" binary="true" disabled="true"></p-checkbox>
                            </td>
                            <td style="text-align: center;">{{ register.data | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ register.descricao_refeicao }}</td>
                            <td>
                                <div *ngFor="let alimento of register.alimentos">
                                    <br>
                                    {{ alimento.descricao }}
                                </div>
                            </td>
                            <td>{{ register.nutrientes_totais.caloria }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight: bold; text-align: left">{{ totalCalories }}</td>
                        </tr>
                        <tr (click)="navigateToNewRegister()" class="new-register-row">
                            <td colspan="5" style="text-align: center; cursor: pointer;">
                                <i class="pi pi-plus-circle"></i> Adicionar novo registro
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>

        </div>

    </div>
    <div class="col-12">
        <div class="card">
            <ng-container *ngIf="snack.length > 0">
                <p-card header="Refeições do dia">
                    <p-table #dt2 [rowHover]="true" styleClass="p-datatable-gridlines" scrollHeight="flex"
                        [resizableColumns]="true" [value]="snack" dataKey="id" [rowHover]="true">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 5rem;" pResizableColumn></th>
                                <th pResizableColumn>Refeição</th>
                                <th pResizableColumn>Horário</th>
                                <th pResizableColumn>Próxima Refeição</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-snack>
                            <tr
                                [ngClass]="{'next-meal': snack.id === nextMealId, 'not-registered-meal': snack.notRegistered}">
                                <td style="text-align: center;">
                                    <p-checkbox [(ngModel)]="snack.checked" binary="true" disabled="true"></p-checkbox>
                                </td>
                                <td>{{ snack.descricao }}</td>
                                <td>{{ formatarHorario(snack.horario) }}</td>
                                <td *ngIf="snack.checked" class="completed-meal-msg">
                                    <i class="pi pi-check-circle text-green-500" style="margin-right: 0.5rem;"></i>
                                    Registrada
                                </td>
                                <td *ngIf="snack.id === nextMealId && !snack.checked" class="next-meal-msg">
                                    <i class="pi pi-clock" style="margin-right: 0.5rem;"></i> Próxima refeição
                                </td>
                                <td *ngIf="snack.notRegistered" class="not-registered-meal-msg">
                                    <i class="pi pi-exclamation-triangle text-red-500"
                                        style="margin-right: 0.5rem;"></i> Não registrada
                                </td>
                                <td *ngIf="snack.id !== nextMealId && !snack.checked && !snack.notRegistered"
                                    class="not-completed-meal-msg">
                                    <i class="pi pi-hourglass" style="margin-right: 0.5rem;"></i> Aguarde
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </p-card>
            </ng-container>

        </div>
    </div>
    <ng-template #emptyState>
        <p-card class="diet-card" (click)="navigateToNewRegister()">
            <span class="card-content empty-card">
                <i class="pi pi-plus pi-plus-circle" style="font-size: 2rem"></i>
                <p class="empty-card">Nenhum registro encontrado para hoje.</p>
            </span>
        </p-card>
    </ng-template>
</div>





<style>
    .diet-card {
        margin: 1rem;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .diet-card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }


    .empty-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 2rem;
        font-size: 1.2rem;
        color: #666;
    }


    .next-meal-msg {
        font-weight: bold;
        color: #3c763d;
    }

    .completed-meal-msg {
        font-weight: bold;
        color: #5cb885;
    }

    .not-completed-meal-msg {
        font-weight: bold;
        color: #f0ad4e;
    }

    .not-registered-meal-msg {
        font-weight: bold;
        color: #c72f2f;
    }
</style>